<!-- <div class="space"></div>
<img src="assets/images/dark/divider.png" alt="" id="five" class="maximg">
<div class="space1"></div>

<div class="flex flexblock">
  <div class="primbox">
    <div>
      <img src="assets/images/dark/white_mask.png" alt="">

      <h3>Industry Awards</h3>
    </div>
  </div>
  <div class="grid-2">
    <div class="whitebg_content flex fcenter flexblock-sm">
      <div class="text-center"><img src="assets/images/dark/award1.png" alt="" class="full-width"></div>
      <div class="text">2021 EFMD Excellence in Practice Award -Leadership Development for Catalyst; Silver; with
        partner INSEAD</div>
    </div>
    <div class="whitebg_content flex fcenter flexblock-sm">
      <div class="text-center"><img src="assets/images/dark/award2.png" alt="" class="full-width"></div>
      <div class="text">2020 Best Advance in Learning Technology Implementation for My Learning; Bronze
      </div>
    </div>
    <div class="whitebg_content flex fcenter flexblock-sm">
      <div class="text-center"><img src="assets/images/dark/award3.png" alt="" class="full-width"></div>
      <div class="text">2020 Best Advance in Creating a Learning Strategy for Cargill Learning Vision & Strategy; Bronze
      </div>
    </div>
    <div class="whitebg_content flex fcenter flexblock-sm">
      <div class="text-center"><img src="assets/images/dark/award3.png" alt="" class="full-width"></div>
      <div class="text">2020 Best Unique or Innovative Learning & Development Program for Unconscious Bias; Bronze

      </div>
    </div>
  </div>
</div>

<div class="space"></div> -->
