@import '../../variable';

.slider_contact {
  max-width: 1200px;
  margin: 0 auto;
}



.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  //max-width: 100%;


  .flexarrow {
    display: flex;
  }

  .md-arrows {
    display: none;
  }



  .head {
    //min-width: 300px;
    width: 30%;
    margin-right: 41px;
    margin-top: -50px;

    @include lg {
      width: 100%;
    }

  }

  .slidecontent {
    overflow-x: hidden;

    flex: 1;

    #panel1 {
      display: flex;
    }



    .panal {
      .textcontent {
        display: flex;
        // width: 326px;
        background-color: #333;
        color: #fff;
        margin: 20px 30px;
        margin-left: 0px;
        padding: 25px;
        padding-right: 15px;
        border-radius: 5px;
        min-height: 222px;
        font-size: 15px;
        font-weight: 400;
        letter-spacing: -0.02em;
        line-height: 23px;
      }

      .image {
        //background-image: url('../../../assets/images/downarrow.png');
        width: 20px;
        height: 30px;

      }
    }

    .image {
      margin-top: -35px;

      img {
        max-width: 100%;
      }
    }
  }
}

.image_text {
  display: flex;
  align-items: center;
  justify-content: normal;
  // margin-top: 10px;
  // margin-bottom: 20px;
  margin-right: 60px;

  .personimg {
    margin-right: 20px;

    img {
      border-radius: 50%;
    }
  }

  .details {
    .name {
      //color: $primaryfont;
      font-size: 18px;
      font-weight: 600;
      letter-spacing: -0.02em;
      line-height: 1;
    }

    .place {
      font-style: normal;
      font-weight: 500;
      font-size: 15px;
      line-height: 25px;
    }
  }
}

.flaticon-left-quote,
.flaticon-right-quote {
  color: #fff;
  font-size: 23px;
}

.flaticon-left-quote {
  margin-right: 10px;
}

.flaticon-right-quote {
  margin-left: 10px;
}

.l-arrow,
.r-arrow {
  margin: 10px;
  cursor: pointer;
}

.head {
  margin-top: 10px;
  margin-right: 0px;
  max-width: 300px;
}

.section_panel {
  height: 475px;
}

@include xl {
  .panal {
    .textcontent {
      height: 318px;
    }
  }

  .section_panel {
    height: 560px;
  }
}

@include lg {
  .flex {
    display: block;

    .head {
      margin-top: 10px;
      margin-right: 0px;
      text-align: center;
    }

    .flexarrow {
      justify-content: center;

      .l-arrow,
      .r-arrow {
        margin: 10px;
      }
    }

    .md-arrows {
      display: flex;
    }

    .arrows {
      //display: none;
    }

    .flex {
      .slidecontent {
        width: 300px;
        margin: 0 auto;

        .panal {
          .textcontent {
            width: 250px;
            height: 290px;
            max-width: 100%;
          }
        }
      }

      .image_text {
        margin: 0;
      }
    }
  }
}

@include md {
  .flex {
    .slidecontent {
      width: 300px;
      margin: 0 auto;

      .panal {
        .textcontent {
          width: 250px;
          height: 290px;
          max-width: 100%;
        }
      }
    }

    .image_text {
      margin: 0;
    }
  }
}
