<div class="space"></div>
<img src="assets/images/dark/divider.png" alt="" id="three" class="maximg">
<div class="space"></div>

<div class="flex flexblock-sm">
  <div class="primbox">
    <div>
      <img src="assets/images/dark/white_mask.png" alt="">

      <h3>Reached & Engaged <br>Exponentially More <br>Learners</h3>
    </div>
  </div>

  <div class="bottomcontent">
    <div>
      <h2 class="line_heading">L&D measures impact against <span class="colortext">6 metrics</span>. </h2>

      <div class="instruction">Hover over the card to learn more.</div>
    </div>
  </div>
</div>

<app-flip-click></app-flip-click>
<h2 class="line_heading unpadbottom">
  Key Metrics to Measure Digital Learning Scale & Engagement in FY’21 - <span class="colortext">Adoption, Active
    Learners & Return Visits</span>
</h2>


<div class="grid-2">
  <div class="card-5">
    <div class=" mb-50" data-aos="fade-up" data-aos-delay="500">
      <h3 class="unpadtop">SCALE</h3>
      <div class="">
        <p>L&D set a goal of achieving 75% adoption, 15% Active Learners and a Return Rate of 2 times per month. All
          goals were achieved by end of FY’21.</p>
        <!-- <br> -->
        <!-- <ul class="spacing">
              <li><b>Adoption:</b> Number of banded employees with a profile in My Learning (FY21 Goal: <span
                  class="highlight goal">75%</span> | Actual <span class="highlight goal">76.6%</span>)
              </li>
              <li><b>Return Visits:</b> Number of logins per month (FY21 Goal: <span class="highlight goal">2x</span> |
                Actual <span class="highlight goal">5.2x</span>)</li>
            </ul> -->
        <br>
        <ul>
          <li><b>Adoption:</b> Number of banded employees with a profile in My Learning</li>
        </ul>
        <div class="text-center whitebg_content">
          <img src="assets/images/dark/mylearning.png" alt="">
        </div>
        <br><br>
        <hr>
        <br><br>
        <ul>
          <li><b>Return Visits:</b> Number of logins per month</li>
        </ul>
        <div class="text-center whitebg_content">
          <!-- <p>*<b>Return Visits: </b> Number of logins per month</p> -->
          <img src="assets/images/dark/scale.png" alt="">
        </div>
      </div>
    </div>
    <!-- <div class="card-5" data-aos="fade-up" data-aos-delay="2000">
          <div class="sub-title">ACCESSIBILITY</div>
          <ul class="default spacing">
            <li>1 Million total Content views </li>
            <li><span class="highlight goal">74.35%</span> Internal content / <span class="highlight goal">25.65%</span>
              External content</li>
          </ul>
          <img src="assets/images/accessibility.png" alt="">
        </div> -->
  </div>

  <div class="card-5">
    <div class="" data-aos="fade-up" data-aos-delay="2000">
      <h3 class="unpadtop">ENGAGEMENT</h3>
      <ul class="">
        <li><b>Active Learners:</b> Number of employees with a profile who have shared <span class="oneword">1
            item</span>, followed 3 skills,
          marked 5 items complete and logs in at least once every 30 days.
          <!-- (FY21 Goal: <span class="highlight goal">15%</span> | Actual <span class="highlight goal">12.7%</span>) -->
        </li>
      </ul>
      <div class="text-center whitebg_content">
        <img src="assets/images/dark/Slide_14_Bar_chart.png" />
      </div>
    </div>
  </div>
  <!-- <div class="ex-2">
    <div class="card-5 ">
      <h3 class="line_heading unpadtop" data-aos="fade-up" data-aos-delay="500">

        In <span class="colortext">FY’21</span>, L&D converted the Innovation Fundamentals Masterclass from classrooms
        to a <span class="colortext">digital learning
          experience</span>. The following results identify the impact this transition had to the learners and the
        organization.


      </h3>
      <div class="flex fcenter whitebg_content">
        <img src="assets/images/dark/example.png" alt="" class="maximg">
      </div>
    </div>
  </div> -->

</div>
