<div class="bg-color">
  <div class="section_panel">
    <div class="head" data-aos="fade-up" data-aos-duration="1000">
      <div class="flex arrows" data-aos="fade-up" data-aos-duration="1000">
        <h2 class="line_heading unpadtop topmargin" [innerHtml]="data.subtitle.text">

        </h2>
        <!-- <div class="owl-nav flexarrow">
          <div class="owl-prev" (click)="prev()">
            <div class="l-arrow">
              <img src="assets/images/dark/left_1.png" alt="">
            </div>
          </div>
          <div class="owl-next" (click)="next()">
            <div class="r-arrow">
              <img src="assets/images/dark/right_1.png" alt="">
            </div>
          </div>
        </div> -->
      </div>
    </div>
    <div class="flex slider_contact">
      <div class="slidecontent">
        <div id="learner_testimonial" (mouseover)="hover(true)" (mouseout)="hover(false)">
          <owl-carousel-o #carousel [options]="customOptions">
            <ng-container *ngFor="let item of data.contactslides; let i = index">
              <ng-template carouselSlide [id]="'contact_'+i">
                <div class="panal">
                  <div class="textcontent">
                    <i> <span class="fi flaticon-left-quote"></span>
                      <span [innerHtml]="item.text"></span>
                      <span class="fi flaticon-right-quote"></span>
                    </i>
                  </div>
                  <!-- <div class="image">
                    </div>
                    <div class="image_text">
                      <div class="personimg">
                        <img src="{{item.image.src}}">
                      </div>
                      <div class="details">
                        <div class="name" [innerHtml]="item.name"></div>
                        <div class="place fontsecondary" [innerHtml]="item.place"></div>
                      </div>
                    </div> -->
                </div>
              </ng-template>
            </ng-container>
          </owl-carousel-o>
        </div>
      </div>
    </div>
  </div>
</div>
