<div class="space"></div>
<img src="assets/images/dark/divider.png" alt="" id="four" class="maximg">
<div class="space"></div>


<div class="flex flexblock-sm">
  <div class="primbox">
    <div>
      <img src="assets/images/dark/white_mask.png" alt="">

      <h3>Built New Digital <br>Learning Capabilities</h3>
    </div>
  </div>
  <div class="bottomcontent">
    <div>
      <h3 class="line_heading">In FY’21, L&D built their own capabilities focused on Innovation, Data & Analytics and
        Marketing</h3>

      <h1 class="line_heading">Innovat<span class="colortext">ion</span></h1>
      <p class="unpadbottom">A flexible, agile and modern learning technology eco-system is enabled by the following
        Innovation Process.</p>
    </div>
  </div>
</div>
<div class="space1"></div>
<h3 class="line_heading unpadtop unpadbottom"> Six focus areas of FY’21:</h3>
<br>
<div class="tags">
  <div class="tag">

    <div class="title"> Learning in the Flow</div>
  </div>
  <div class="tag">

    <div class="title"> AR/VR</div>
  </div>
  <div class="tag">

    <div class="title"> Auto Translation</div>
  </div>
  <div class="tag">

    <div class="title"> Adaptive Learning</div>
  </div>
  <div class="tag">

    <div class="title"> Skills Assessment & Intelligence</div>
  </div>
  <div class="tag">

    <div class="title"> Video Solutions</div>
  </div>
</div>


<h3 class="line_heading unpadtop unpadbottom">Impact measures of innovation that made it to pilot:</h3>

<br>
<div class="flex wrap-flex">
  <div class="white_card">
    <img src="assets/images/dark/cloud_logo.png" alt="">
  </div>
  <div class="white_card">
    <img src="assets/images/dark/toonimo_logo.png" alt="" class="minucetop">
  </div>
  <div class="white_card">
    <img src="assets/images/dark/credspark.png" alt="">
  </div>
  <div class="white_card">
    <img src="assets/images/dark/QC_logo.jpg" alt="">
  </div>
</div>
<div class="space1"></div>
<h2 class="line_heading">L&D <span class="colortext">Innovation</span> Funnel</h2>
<div class="blackbgtext">
  <div class="rel">
    <div class="popup">
      <div #holder1 class="holder" id="holder1">
        <!--  -->
        <div class="popover" [class.active]="holder == 1">
          The pitches happen at 3 key milestones in the Innovation Process, before transitioning into the next
          phase.

        </div>
        <div class="flex fend">
          <div class="flex-1"></div>
          <div>
            <div class="info-img" (mouseover)="holder = 1" (mouseout)="holder = 0">
              <img class="info" src="assets/images/dark/info.png" alt="">
            </div>
          </div>
        </div>

      </div>

      <div #holder2 class="holder" id="holder2">
        <div class="popover" [class.active]="holder == 2">
          <p class="unpadtop">Live events happen outside the Innovation Process. They foster a culture of innovation by
            educating
            One L&D on new ideas and industry-leading solutions.</p>
          <p class="unpadbottom">Simply put, they are innovation demos/inspiration sessions in the learning space for
            the broader
            L&D community. 7 live events were conducted with an average attendance of +35 people.</p>

        </div>
        <div class="flex fend">
          <div class="flex-1"></div>
          <div>
            <div class="info-img" (mouseover)="holder = 2" (mouseout)="holder = 0">
              <img class="info" src="assets/images/dark/info.png" alt="">
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="full-width">
      <br>
      <br>

      <img #innovation class="full-width" src="assets/images/dark/Innovation_icon_new1.png" alt="">
      <div class="smallpopdata">
        <p> The pitches happen at 3 key milestones in the Innovation Process, before transitioning into the next
          phase.</p>
        <p class="">Live events happen outside the Innovation Process. They foster a culture of innovation by
          educating
          One L&D on new ideas and industry-leading solutions.</p>
        <p class="unpadbottom">Simply put, they are innovation demos/inspiration sessions in the learning space for
          the broader
          L&D community. 7 live events were conducted with an average attendance of +35 people.</p>
      </div>
    </div>
  </div>
</div>

<div class="space1"></div>
<h2 class="line_heading">Data & <span class="colortext">Analytics</span></h2>

<div class="flex">
  <div class="flex flexblock">
    <div class="flex-1 whitebg_content r-margin">
      <img src="assets/images/dark/Digital-Learning.png" alt="" data-aos="fade-up" data-aos-delay="2000"
        class="panel_img full-width">
    </div>
    <div class="flex-1 whitebg_content">
      <h3 class="text-center unpadtop">
        The Digital Learning Impact Measures dashboard was first deployed in June 2020.
      </h3>

      <img class="full-width" src="assets/images/dark/slide-04.png" alt="">
    </div>
  </div>
</div>

<div class="space1"></div>
<!-- <div class="actvity2_content">
  <div class="" id="six">
    <h2 class="line_heading">Market<span class="colortext">ing</span></h2>



    <div id="marketing">
      <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide>
          <div class="owl_card owl-card-2">
            <div class="flex">
              <div class="contnent ">
                <div class="title">
                  Digital Learning Champions
                </div>
                <div class="default nums">
                  <p>
                    Built a network of business and function advocates to influence and drive engagement with My
                    Learning.
                  </p>
                  <p><span class="activity2_number number">382</span>non-L&D Champions recruited in FY’21.</p>
                  <p><span class="activity2_number number">57</span>My Learning Mondays conducted in 4 languages to
                    inspire employees to create their own learning pathways.</p>

                </div>


              </div>
              <img class="img" src="assets/images/dark/AdobeStock_317914682.png" alt="">
            </div>
          </div>
        </ng-template>

        <ng-template carouselSlide>
          <div class="owl_card">
            <div class="flex">
              <div class="contnent">
                <div class="title">
                  Marketing Communications & Technology
                </div>
                <div class="default">
                  <p>
                    Provided marketing communication solutions that are pragmatic, integrated and technology
                    enabled.
                  </p>
                  <div class="flex-new wrap-flex">
                    <div class="flex-1 font-medium">
                      11 Learning themes promoted.
                    </div>
                    <div class="flex-1 font-medium">
                      16 Employee success stories.
                    </div>
                  </div>
                  <p class="instruction">Click below to view success stories.</p>
                  <div class="flex wrap-flex">
                    <div class="ss" *ngFor="let item of marketing_1">
                      <a href="{{item.link}}" target="_blank">
                        <div class="img-card">
                          <img src="{{item.image}}" alt="">
                        </div>
                        <div class="text">
                          <div>{{item.text}}</div>
                          <div class="readmore">
                            <u>View More</u>
                          </div>
                        </div>
                      </a>
                    </div>
                  </div>




                </div>
                <div class="flex nums nonedisplay">

                </div>
              </div>
              <img class="img" src="assets/images/dark/marketing0.png" alt="">
            </div>
          </div>
        </ng-template>

        <ng-template carouselSlide>
          <div class="owl_card">
            <div class="flex">
              <div class="contnent">
                <div class="title">
                  Developing Your Career
                </div>
                <div class="default">
                  <p>
                    Engaged in the performance management cycle to show how
                    Digital Learning fits with development conversations;
                    and, encourage employees/leaders to access recommendations
                    for learning.
                  </p>
                  <p class="bold">Pathway Links:</p>
                  <p><a class="text_bold blue-font" target="_block"
                      href="https://degreed.com/pathway/4dp6qxzmp7#/pathway">Developing Your Career at Cargill</a>:
                    Developing
                    Your Career at Cargill pathway allows you to identify your career aspirations, explore your
                    possibilities, and then make your mark! 
                  </p>
                  <p><a class="text_bold blue-font" target="_block"
                      href="https://degreed.com/pathway/v9r7xml59j#/pathway">Leverage My Learning in Developing Your
                      Career at Cargill</a>:
                    This pathway allows learners to explore What is MyLearning: Digital Learning at Cargill as well as
                    How to Leverage MyLearning for Career and skill growth.
                  </p>
                </div>
              </div>
              <img class="img" src="assets/images/dark/developing.png" alt="">
            </div>
          </div>
        </ng-template>


        <ng-template carouselSlide>
          <div class="owl_card">
            <div class="flex">
              <div class="contnent">
                <div class="title">
                  Leading Learning
                </div>
                <div class="default">
                  <p>
                    Engaged leaders in building a learning culture; leaders
                    leverage simple communication/tools to engage teams in learning.
                  </p>
                  <p class="bold">Plan Link:
                    <a class="text_bold blue-font" target="_block" href="https://degreed.com/plan/1769452#/">Leading
                      Learning</a></p>
                  <p>Leading Learning is a repository of plans and pathways, designed for you through rigorous
                    contemplation and deliberation by leaders and managers at Cargill, to give you an understanding of
                    how to leverage My Learning from Degreed, and how to harness the transformative power of adaptive
                    learning and identify and foster employee’s as well as leader’s role in cultivating a culture of
                    learning in Cargill.
                  </p>
                </div>
              </div>
              <img class="img" src="assets/images/dark/leading.png" alt="">
            </div>
          </div>
        </ng-template>

        <ng-template carouselSlide>
          <div class="owl_card">
            <div class="flex">
              <div class="contnent">
                <div class="title">
                  Product & Portfolio Marketing
                </div>
                <div class="default">
                  <p>
                    Created and implemented an approach to simplify,
                    streamline and enable the L&D team to develop marketing for
                    products and portfolios. (e.g., Marketing Canvas, Toolkit, Success Coach)
                  </p>

                  <p>29 <a class="blue-font" target="_block" href="assets/docs/MarketingCanvas_WLWF.pdf">Marketing
                      Canvas</a> were created in partnership with L&D and business and function stakeholders.</p>
                  <p>A <a class="blue-font" target="_block"
                      href="assets/images/dark/MarketingCanvas_Toolkit.png">toolkit</a>
                    provides resources to support completion of the Marketing Canvas.</p>
                  <p>The Success Coach, enables others to be successful in creating delightful learning experiences for
                    employees in our businesses and functions. <a class="blue-font" target="_block"
                      href="assets/images/dark/Success Coach.png">Click here</a> to see Success Measures.</p>

                </div>
               
              </div>
              <img class="img" src="assets/images/dark/marketing1.png" alt="">
            </div>
          </div>
        </ng-template>

      </owl-carousel-o>

    </div>
  </div>

</div> -->
