  <div>
    <div class="space1"></div>
    <div class="flex fvcenter flexblock-vsm" id="first">
      <div class="flex-1">
        <h3>In <span class="colortext">FY’18</span>, we introduced a new vision for learning and have successfully
          completed our <span class="colortext">transformation</span>
          roadmap.</h3>
        <img src="assets/images/dark/learning_vision.png" alt="" class="full-width radius-border maximg">
      </div>
      <div class="rightflex flex_1img"><img src="assets/images/dark/learning_vision_1.png" alt=""
          class="full-width maximg"></div>
    </div>


    <div class="space"></div>
    <!-- <div class="divider" id="two"><img src="assets/images/dark/divider.png" alt="" class="maximg"></div>
    <div class="space1"></div>
    <div class="flex flexblock">
      <div class=" primbox">
        <div>
          <img src="assets/images/dark/white_mask.png" alt="">
          <h3>Managed a More <br>Effective & Efficient<br> Learning Landscape</h3>
        </div>
      </div>
      <div class="bg_whitebox flex-1">
        <p class="unpadtop">The Cargill Learning & Development Governance was officially stood up in June 2020. L&D
          operates as a
          federated model within Cargill, leaders representing the different areas came together as one Cargill to form
          the governance council.</p>
        <p class="unpadtop">The intent of L&D governance is to clarify <span class="oneword">decision-making</span> and
          operating
          parameters to:
        </p>
       
        <ul class="spacing unpadbottom">
          <li>Improve the employee learning experience </li>
          <li>Better leverage Cargill’s size </li>
          <li>Better manage L&D spend and resources </li>
          <li>Enhance the consistency and quality of Cargill learning experiences </li>
          <li>Increase the impact of Cargill’s investments in learning-related content, design and technology</li>
        </ul>
      </div>

    </div> -->


    <!-- <div class="flex-2">
     
      <div id="bar-chart111">
        <div class="card">
          <h2 class="unpadtop">Year-over-year L&D Spend Comparison</h2>
          <div class="flex flexblock-sm">
            <div class="flex-2">
              <div class="bar-chart">
                <div class="flex">
                  <div class="left-title">
                    FY'19
                  </div>
                  <div class="chart flex-1 flex">
                    <div class="bar bar1" data-per="80%"></div>
                    <div class="number">$80,000,000</div>
                  </div>
                </div>
              </div>
              <div class="bar-chart">
                <div class="flex">
                  <div class="left-title">
                    FY'20
                  </div>
                  <div class="chart flex-1 flex">
                    <div class="bar bar2" data-per="64%"></div>
                    <div class="number">$64,000,000</div>
                  </div>
                </div>
              </div>
              <div class="bar-chart">
                <div class="flex">
                  <div class="left-title">
                    FY'21
                  </div>
                  <div class="chart flex-1 flex">
                    <div class="bar bar3" data-per="49%"></div>
                    <div class="number">$49,000,000</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="flex-1 fcenter flex">
              <div class="per39 text-center"><span class="numberper">39%</span><br> year-over-year decrease in total
                direct training spend from <b>FY’20 to FY’21</b>.</div>
            </div>
          </div>
        </div>
      </div>

      <div class="flex table flexblock-sm">
     
        <div class="table-item flex-1">
          <div class="title">
            <div>
              Curriculum Ownership & Learning Content Management

              <div class="category">- Operating Parameter</div>
            </div>
          </div>
          <div class="objectives">
            <div class="text1">Reviewed <span class="number num-b">3426</span> content items</div>
            <div class="grid grid-2">
              <div class="num-panel">
                <div class="number">
                  480
                </div>
                <div class="">
                  Deleted
                </div>
              </div>

              <div class="num-panel">
                <div class="number">
                  330
                </div>
                <div class="">
                  Archived
                </div>
              </div>

              <div class="num-panel">
                <div class="number">
                  1700
                </div>
                <div class="">
                  Moved into new LMS
                </div>
              </div>

              <div class="num-panel">
                <div class="number">
                  930
                </div>
                <div class="">
                  De-activated or republished
                </div>
              </div>

            </div>
            <div class="bottomcategory">- FY'21 Success Measures</div>
           
          </div>
        </div>
        <div class="table-item flex-1">
          <div class="title">
            <div>
              Learning Technology & Design Standards

              <div class="category">- Operating Parameter</div>
            </div>

          </div>
          <div class="objectives">
            <div class="flex fcenter t3">
              <div class="text1">
                Learning applications reduced from <br><span class="number num-b">58 to 15</span>
              </div>
            </div>
            <div class="bottomcategory">- FY'21 Success Measures</div>
          </div>
        </div>
        <div class="table-item flex-1">
          <div class="title">
            <div>
              Learning Contracts & Select Suppliers
              <div class="category">- Operating Parameter</div>
            </div>

          </div>
          <div class="objectives">
            <div class="flex fcenter t3">
              <div class="text1">
                Increased CSSP
                compliance for
                learning vendors
                and contractors
                from <br><span class="number num-b">24% to 42%</span>
              </div>
            </div>
            <div class="bottomcategory">- FY'21 Success Measures</div>
          </div>
        </div>
       
      </div>




    </div> -->
  </div>
