<div id="trigger_12" class="rel">
  <img src="assets/images/dark/1_new.png" alt="" class="maximg">
  <div id="chart123_878" class="chart">
    <div class="row">
      <div class="flex">
        <div class="flex-1"></div>
        <div class="number flex">

          <div class="man-green">
            <!-- <img src="assets/images/char1.png" alt=""> -->
          </div>

          <div class="num">
            330
          </div>
          <div class="flex-1"></div>
        </div>
      </div>
      <div class="flex">
        <div class="fytext">
          FY'21
        </div>
        <div class="progress">
          <div class="fill fill-1"></div>
          <div class="gap gap-1"></div>
          <div class="empty"></div>
        </div>
      </div>
    </div>
    <br>
    <div class="row row1">
      <div class="flex">
        <div class="flex-1"></div>
        <div class="number">
          <div class="man-blue">
            <!-- <img src="assets/images/char2.png" alt=""> -->
          </div>
          <div class="num">
            120
          </div>
          <div class="flex-1"></div>
        </div>
      </div>
      <div class="flex">
        <div class="fytext">
          FY'20
        </div>
        <div class="progress">
          <div class="fill fill-2"></div>
          <div class="gap gap-2"></div>
          <div class="empty"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <div class="chart" id="graph" data-percent="75"></div> -->

<!-- <div id="parent">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 34 34">
    <circle cx="17" cy="17" r="15.5" class="countdown__background" />

    <circle cx="17" cy="17" r="15.5" class="countdown__progress 
                   js-countdown__progress" />
  </svg>
  <div id="countdown-progress-label-container">
    < !-- <div id="countdown-progress-label">2</div> -- >
  </div>
</div> -->
