<!-- <div>
  <owl-carousel-o #carousel [options]="customOptions" (changed)="getPassedData($event)">
    <ng-template carouselSlide [id]="'horizon_1'">
      <div class="horizon_1  horizon">

        <div class="text-center">
          <img class="corner shadow" src="assets/images/3Horizons_Detailed.png" alt="">
        </div>
        <div class="content">
          <p>Now that we’ve built L&D and HR’s digital capabilities including a new modern technology eco-system and
            stewardship of the Cargill L&D governance, we began focusing on Horizon 2. Our next horizon is to build the
            business’ digital learning capabilities. </p>
          <ol class="spacing">
            <li>We want to equip businesses and functions to own their own learning.</li>
            <li>We want them to be able to use the technology and resources for customer facing education.</li>
          </ol>
          <div class="readmore">
            <a class="" target="_blank" href="assets/images/3Horizons_Detailed.png">View More</a>
          </div>
        </div>
      </div>
    </ng-template>

    <ng-template carouselSlide [id]="'horizon_2'">
      <div class="horizon_2 active horizon">
        <div class="image">
          <img src="assets/images/3horizon_2.png" alt="">
        </div>
        <div class="content">
          <div class="title">
            <h2> CBS Example</h2>
          </div>
          <p>
            CBS understands that the depth and breadth of their services look entirely different than just five years
            ago and
            will again look different five years from today. The work has moved beyond process-driven, transactional
            work
            and evolved to providing insights, analytics, consulting and new services. According to Bjorn Del’Haye, “The
            only
            way we can ensure we continue to evolve the services that Cargill, our suppliers, or customers are needing
            is to
            ensure our people also evolve their skillsets.”
          </p>
          <div class="readmore">
            <a class="" target="_blank" href="assets/docs/CaseStudy_CBS-ActiveLearnerGoal.pdf">View More</a>
          </div>
        </div>
      </div>
    </ng-template>

    <ng-template carouselSlide [id]="'horizon_3'">
      <div class="horizon_3 horizon">
        <div class="image">
          <img src="assets/images/3horizon_3.png" alt="">
        </div>
        <div class="content">
          <div class="title">
            <h2>FIBI Example</h2>
          </div>
          <p>
            FIBI decided to expand what was being measured beyond financial metrics and saw significant value in the new
            learning vision and strategy to accelerate the acquisition and strengthening of capabilities. FIBI
            recognized
            the
            value digital learning provided to effectively and efficiently develop capabilities and drive the culture of
            continuous
            learning within the organization.
          </p>
          <div class="readmore">
            <a class="" target="_blank" href="assets/docs/CaseStudy_FIBI-HumanCapitalLearningGoal.pdf">View More</a>
          </div>
        </div>
      </div>
    </ng-template>

    <ng-template carouselSlide [id]="'horizon_4'">
      <div class="horizon_4 horizon">
        <div class="image">
          <img src="assets/images/3horizon_4.png" alt="">
        </div>
        <div class="content">
          <div class="title">
            <h2>F&O college conducted Curation Hackathons with several functions</h2>
          </div>
          <div>
            <ul>
              <li>L&D F&O College hosted 6 workshops with 18 Global Operations SMEs to curate 550+ content items
                across
                126 plans and pathways, which in only a few months has already netted 450 followers. </li>
              <li>L&D F&O College hosted 8 curation sessions with 47 CBS SMEs to curate 700+ content items across 27
                plans
                and pathways, which has more than 1,000 learners currently following it. </li>
            </ul>
          </div>
        </div>
      </div>
    </ng-template>

    <ng-template carouselSlide [id]="'horizon_5'">
      <div class="horizon_5 horizon">
        <div class="content">
          <div class="title">
            <h2>Protein NA GSCM example</h2>
          </div>
          <p>
            A big part of Protein NA’s journey is making sure they have the training they need to be successful. Protein
            NA’s small Sales Enablement team is creating new & enabling existing trainings to be available in an
            effective
            and convenient manner. This has been possible with the My Learning platform. We have set up a Protein
            Training
            Hub. We have designed plans by channel and paths within each, focused on each product line & business
            segment.
            We are focused on user experience, reduced number of clicks within a straightforward navigation to find what
            the learner needs. This is also the backbone of our on-boarding strategy. We are continually learning new
            options within this platform but are working to embrace all it has to offer. We will continue to always add
            new content and relevant plans, but we will be formally announcing the Training Hub to all of Protein, with
            emphasis on the Commercial teams by the beginning of June 2021.
          </p>
          <div class="readmore">
            <a class="" target="_blank" href="https://degreed.com/plan/1698986#/">View More</a>
          </div>
        </div>
      </div>
    </ng-template>

    <ng-template carouselSlide [id]="'horizon_6'">
      <div class="horizon_6 horizon">
        <div class="image">
          <img src="assets/images/3horizon_5.png" alt="">
        </div>
        <div class="content">
        <div class="title">
          <h2>Sustainability at Cargill pathway</h2>
        </div>
        <p class="content">
          This learning pathway, created solely by the CASC and GEOS EMEA business, provides a general overview of what
          sustainability means at Cargill and at CASC and GEOS EMEA. Through videos and articles from internal and
          external sources, you will learn what Cargill sustainability priorities and commitments are, what challenges
          and opportunities our business faces, and how to tell our sustainability story.
        </p>
        <div class="readmore">
          <a class="" target="_blank" href="https://degreed.com/pathway/m90j433v86?path=sustainability-in-cargill">View
            More</a>
        </div>
      </div>
      </div>
    </ng-template>

  </owl-carousel-o>
</div> -->
<div>
  <p class="blackbgtext">Through the L&D transformation in Horizon 2, we have helped the businesses and functions drive
    learning for their
    employees.</p>
  <!-- <p class='instruction'>Click the arrows below to see examples of building the business’s digital learning capabilities</p> -->
  <div (mouseover)="hover = true" (mouseout)="hover = false">
    <div class="flex clickandreveal max-width whitebg_content">
      <div class="flex-1 relative">
        <!-- <div class="relative"> -->
        <div class="item flex flexblock-sm" *ngFor="let item of interactivity; let i=index;"
          [ngClass]="{'selected' : selectedItem == i}">
          <div class="flex-1 text">
            <div class="sub-title text_bold" Cursorlink>
              <!-- {{selectedItem+1}}.  -->
              {{item.title}}
            </div>
            <div class="description" [innerHTML]="item.description">
            </div>
          </div>
          <div class="normalimg" [ngClass]="{'selected':selectedItem == i}">
            <img [src]="item.img" alt="">
          </div>
        </div>
        <!-- </div> -->
      </div>
      <!-- <div class="imgs flex-1">
    <div class="relative image_height">
      <div class="img" *ngFor="let item of interactivity let j=index;" [ngClass]="{'selected':selectedItem==j}">
        <img [src]="item.img" alt="">
      </div>
    </div>
  </div> -->
    </div>
    <div class="flex fcenter ">
      <div>
        <div class="flex fcenter">
          <div class="left">
            <button class="nocolor" (click)="prev()">
              <img src="assets/images/dark/left_1.png" alt="">
            </button>
          </div>
          <div class="indicator" *ngFor="let item of interactivity; let i = index" (click)="goto(i)"
            [ngClass]="{'active' : selectedItem == i}">
          </div>
          <div class="right">
            <button class="nocolor" (click)="next()">
              <img src="assets/images/dark/right_1.png" alt="">
            </button>
          </div>
        </div>

      </div>
    </div>
  </div>

</div>
